{% extends "template.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1><center><font size="30">Tweetalyze!</font><img src=" {{ url_for('static', filename='images/twitter_icon.png') }}" width="30" height="30"></center></h1>
    <p class=""><center><h3>
      Welcome to Tweetalyze, the Twitter API engine that works with analyzation techniques.</h3></center>
    </p>
    <br>
    <form class="form-horizontal" action="{{ url_for('show_tweets') }}" method="POST">
    	<fieldset>
    		<div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
                    <input type="text" class="form-control" placeholder="Enter a topic..." name="qtops">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Livestream</button>
                    </span>
                </div>
            </div>
    	</fieldset>
    </form>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}